:root{
	--color_white: #fff;
}
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Arial, sans-serif;
	font-size: 16px;
}
header{
	height: 120px;
	width: 100%;
	background: linear-gradient(0, #f26325, #f23d0f);
	color: var(--color_white);
}
header .navbar, .navbar_list{
	display: flex;
}
header .navbar_list{
	list-style: none;
	margin: 10px 20px;
}
header .navbar_list .navbar_list-item{
	padding: 0px 7px;
}
header .navbar_list .navbar_list-item a{
	color: var(--color_white);
}
.navbar_spacer{
	flex: 1;
}
a{
	text-decoration: none;
}

.gird{
	width: 1200px;
	max-width: 100%;
}
.navbar_list-item-border{
	border-right: 1px solid rgba(255, 255, 255, 0.6);
}